<h1>About us</h1>

<div class="jumbotron">
	<p>We are working on our One Month Rails Pinteresting App.</p>
	<p>This shall soon be the place for you to create your own custom collage of your favorite
   	   photos, or piecing together the places you want to spend your vacation.  The possibilities
       are endless!  Sign up for our news letter for future updates. 
       <%= link_to "Keep me posted!", signup_path, class: "btn-primary btn-sm" %>
    </p>
</div>